:root {
    --white: #fff;
    --black:#000;
    --opaque-black:#000000cc;
}

@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: special-elite;
    src: url(/fonts/SpecialElite-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

html {
    font-family: montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.375;
}

body {
    box-sizing: border-box;
    color: var(--white);
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header .header-wrapper {
    background: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
}

h1 {

    height: 0;
    overflow: hidden;
}

header .h1-wrapper {
    display: block;
    background: url(/assets/header-ratm-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 187.5px;
    height: 47.198px;
}

header ul {
    display: none;
    list-style: none;

}

a {
    text-decoration: none;
    color: var(--white);
    font-size: .9375rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

li {
    display: inline-block;
    padding: 0 17.5px;
}

label {
    display: block;
}

input[type="checkbox"] {
    height: 0;
    overflow: hidden;
}

.email-popup-window {
    background: var(--opaque-black);
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.email-popup-inner {
    display: block;
    margin: 40px auto;
    width: 100%;
    max-width: 520px;
    background: var(--white);
    opacity: unset;
    opacity: 1;
    text-align: center;
    color: var(--black);
    font-family: special-elite;
    height: 100%;
    overflow-y: scroll;
    padding: 11.25px;
}

.email-popup-inner h2 {
    font-size: 30px;
    font-weight: bolder;
}

.email-popup-inner p {
    font-size: 18px;
    padding: 0 10%;
}

.email-popup-inner p:nth-child(3) {
    font-weight: 700;
}

.email-popup-inner div {
    display: block;
    margin: 0 10% 5px;
    width: 80%;
    color: var(--white);
    padding: 10px;
    font-family: roboto;
    font-size: 18px;
    font-weight: 700;
}

.email-popup-inner div svg {
    font-size: 25px;
    height: 25px;
    float: left;
}

.spotify-button {
    background: #1db954;
}

.youtube-button {
    background: #bb0000;
}

input[type="checkbox"]:checked + .email-popup-window {
   display: block;

}

@media (min-width:990px) {

    html {
        font-size: 16px;
    }

    header ul {
        display: block;
    
    }
    

}